parameters:
	ignoreErrors:
		-
			message: '#^Called ''env'' outside of the config directory which returns null when the config is cached, use ''config''\.$#'
			identifier: larastan.noEnvCallsOutsideOfConfig
			count: 1
			path: config/filament-presence.php

		-
			message: '#^Trait Happenv\\FilamentPresence\\Concerns\\InteractsWithPresence is used zero times and is not analysed\.$#'
			identifier: trait.unused
			count: 1
			path: src/Concerns/InteractsWithPresence.php

		-
			message: '#^Parameter \#1 \$view of function view expects view\-string\|null, string given\.$#'
			identifier: argument.type
			count: 1
			path: src/FilamentPresencePlugin.php
